*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  padding: 40px;
  background : #151515;
  font-family: "Franklin Gothic Demi Cond";
  font-size: 16px;
}

h1 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  }

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1200px;
  margin: auto;
}